.row.home_row_1.margin-top-40
  .col-xs-3.h_col_4
    %a(href="#{restaurant_detail_path(:merchant_id=>80)}")
      -if @home_ad && @home_ad.photo_1.url != "/photo_1s/original/missing.png"
        =image_tag @home_ad.photo_1.url , :class=>"h_ad_image"
  .col-xs-3.h_col_7
    %a(href="#{restaurant_detail_path(:merchant_id=>20)}")
      -if @home_ad && @home_ad.photo_2.url != "/photo_2s/original/missing.png"
        =image_tag @home_ad.photo_2.url , :class=>"h_ad_image"
  .col-xs-3.h_col_7
    %a(href="#{restaurant_detail_path(:merchant_id=>20)}")
      -if @home_ad && @home_ad.photo_3.url != "/photo_3s/original/missing.png"
        =image_tag @home_ad.photo_3.url , :class=>"h_ad_image"
  .col-xs-3.h_col_8
    %a(href="#{restaurant_detail_path(:merchant_id=>20)}")
      -if @home_ad && @home_ad.photo_4.url != "/photo_4s/original/missing.png"
        =image_tag @home_ad.photo_4.url , :class=>"h_ad_image"

.row.home_row_1
  .col-xs-3.h_col_4
    %a(href="#{restaurant_detail_path(:merchant_id=>20)}")
      -if @home_ad && @home_ad.photo_5.url != "/photo_5s/original/missing.png"
        =image_tag @home_ad.photo_5.url , :class=>"h_ad_image"
  .col-xs-3.h_col_7
    %a(href="#{restaurant_detail_path(:merchant_id=>20)}")
      -if @home_ad && @home_ad.photo_6.url != "/photo_6s/original/missing.png"
        =image_tag @home_ad.photo_6.url , :class=>"h_ad_image"
  .col-xs-3.h_col_7
    %a(href="#{restaurant_detail_path(:merchant_id=>20)}")
      -if @home_ad && @home_ad.photo_7.url != "/photo_7s/original/missing.png"
        =image_tag @home_ad.photo_1.url , :class=>"h_ad_image"
  .col-xs-3.h_col_8
    %a(href="#{restaurant_detail_path(:merchant_id=>20)}")
      -if @home_ad && @home_ad.photo_8.url != "/photo_8s/original/missing.png"
        =image_tag @home_ad.photo_8.url , :class=>"h_ad_image"

.row.home_row_1
  .col-xs-3.h_col_4
    %a(href="#{restaurant_detail_path(:merchant_id=>20)}")
      -if @home_ad && @home_ad.photo_9.url != "/photo_9s/original/missing.png"
        =image_tag @home_ad.photo_9.url , :class=>"h_ad_image"
  .col-xs-3.h_col_7
    %a(href="#{restaurant_detail_path(:merchant_id=>20)}")
      -if @home_ad && @home_ad.photo_10.url != "/photo_10s/original/missing.png"
        =image_tag @home_ad.photo_10.url , :class=>"h_ad_image"
  .col-xs-3.h_col_7
    %a(href="#{restaurant_detail_path(:merchant_id=>20)}")
      -if @home_ad && @home_ad.photo_11.url != "/photo_11s/original/missing.png"
        =image_tag @home_ad.photo_11.url , :class=>"h_ad_image"
  .col-xs-3.h_col_8
    %a(href="#{restaurant_detail_path(:merchant_id=>20)}")
      -if @home_ad && @home_ad.photo_12.url != "/photo_12s/original/missing.png"
        =image_tag @home_ad.photo_12.url , :class=>"h_ad_image"

.row.home_row_1
  .col-xs-3.h_col_4
    %a(href="#{restaurant_detail_path(:merchant_id=>20)}")
      -if @home_ad && @home_ad.photo_13.url != "/photo_13s/original/missing.png"
        =image_tag @home_ad.photo_13.url , :class=>"h_ad_image"
  .col-xs-3.h_col_7
    %a(href="#{restaurant_detail_path(:merchant_id=>20)}")
      -if @home_ad && @home_ad.photo_14.url != "/photo_14s/original/missing.png"
        =image_tag @home_ad.photo_14.url , :class=>"h_ad_image"
  .col-xs-3.h_col_7
    %a(href="#{restaurant_detail_path(:merchant_id=>20)}")
      -if @home_ad &&  @home_ad.photo_15.url != "/photo_15s/original/missing.png"
        =image_tag @home_ad.photo_15.url , :class=>"h_ad_image"
  .col-xs-3.h_col_8
    %a(href="#{restaurant_detail_path(:merchant_id=>20)}")
      -if @home_ad && @home_ad.photo_16.url != "/photo_16s/original/missing.png"
        =image_tag @home_ad.photo_16.url , :class=>"h_ad_image"
